main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh;
}

main video {
    width: 70%;
}

@media screen and (min-width: 320px) and (max-width: 420px) {
    .container {
        height: 100vh;
    }

    main {
        flex-grow: 1;
    }

    main video {
        width: 100%;
    }
}

@media screen and (min-width: 421px) and (max-width: 800px) {
    .container {
        height: 100vh;
    }

    main {
        flex-grow: 1;
    }

    main video {
        width: 100%;
    }
}